{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="flex" style="height: calc(100vh - 44px);">

  <div class="flex-1 flex items-center justify-center overflow-hidden">
      <div class="p-20">
    <img src="{% static 'images/solli_logo.svg' %}" alt="logo" class="max-h-full max-w-full object-contain" />
          </div>
  </div>

  <div class="flex-1 flex items-center justify-center overflow-hidden">
    <div class="w-full max-w-lg h-full max-h-lg p-10 border border-gray-300 rounded-2xl">

        <div class="flex mb-6 w-full">
            <button id="btn_pf"
                    class="toggle-button selected flex-1 px-4 py-2 border border-gray-300 rounded-l-md text-center">
                Para pessoas
            </button>
            <button id="btn_pj" class="toggle-button flex-1 px-4 py-2 border border-gray-300 rounded-r-md text-center">
                Para empresas
            </button>
        </div>


        <h1 class="text-3xl font-bold mb-1">Cadastre-se</h1>
        <h2 class="text-1xl mb-2">Já possui uma conta? <a href="" class="text-emerald-600 hover:text-emerald-800 underline">Entrar</a></h2>


      <form method="post" class="space-y-4" action="{% url 'users:register_user' %}">
        {% csrf_token %}

          <!-- labels e campos do form -->

          <!-- nome completo -->
          <div class="mb-4">
              <label for="{{ form.full_name.id_for_label }}" class="block mb-1 text-gray-700 font-semibold">
                  Nome Completo
              </label>
              {{ form.full_name }}
          </div>

          <!-- email -->
          <div class="mb-4">
              <label for="{{ form.email.id_for_label }}" class="block mb-1 text-gray-700 font-semibold">
                  Email
              </label>
              {{ form.email }}
              <div class="text-red-600 font-semibold mt-1">
              {{ form.email.errors }}
              </div>
          </div>

          <!-- identificação de empresa-->
          <input type="hidden" name="is_company" id="id_is_company" value="false" />

          <!-- cnpj -->
          <div class="mb-4" id="cnpj_field" style="display:none;">
              <label for="{{ form.cnpj.id_for_label }}" class="block mb-1 text-gray-700 font-semibold">
                  CNPJ
              </label>
              {{ form.cnpj }}
              <div class="text-red-600 font-semibold mt-1">
              {{ form.cnpj.errors }}
              </div>
          </div>


          <!-- senha -->
          <div class="mb-4">
              <label for="{{ form.password1.id_for_label }}" class="block mb-1 text-gray-700 font-semibold">
                  Senha
              </label>
              {{ form.password1 }}
          </div>

          <!-- confirmação de senha -->
          <div class="mb-4">
              <label for="{{ form.password2.id_for_label }}" class="block mb-1 text-gray-700 font-semibold">
                  Confirmar senha
              </label>
              {{ form.password2 }}
          </div>


        <button type="submit" class="w-full px-4 py-3 bg-emerald-600 text-white font-semibold rounded-full hover:bg-emerald-700 transition">
          Criar Conta
        </button>

      </form>
    </div>
  </div>


</div>
<script src="{% static 'js/toggle_btns_style.js' %}"></script>
<script src="{% static 'js/toggle_cnpj.js' %}"></script>

{% endblock %}