{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex" style="height: calc(100vh - 44px);">

        <div class="flex-1 flex items-center justify-center overflow-hidden">
            <div class="p-20">
                <img src="{% static 'images/solli_logo.svg' %}" alt="logo"
                     class="max-h-full max-w-full object-contain"/>
            </div>
        </div>

        <div class="flex-1 flex items-center justify-center overflow-hidden">
            <div class="w-full max-w-lg p-10 border border-gray-300 rounded-2xl">

                <div class="flex mb-6 w-full">
                    <button id="btn_pf"
                            class="toggle-button selected flex-1 px-4 py-2 border border-gray-300 rounded-l-md text-center">
                        Para pessoas
                    </button>
                    <button id="btn_pj"
                            class="toggle-button flex-1 px-4 py-2 border border-gray-300 rounded-r-md text-center">
                        Para empresas
                    </button>
                </div>

                <h1 class="text-3xl font-bold mb-1">Cadastre-se</h1>
                <h2 class="text-1xl mb-2">Já possui uma conta? <a href="{% url 'users:login_user' %}"
                                                                  class="text-emerald-600 hover:text-emerald-800 underline">Entrar</a>
                </h2>

                <form method="post" class="space-y-4" action="{% url 'users:register_user' %}">
                    {% csrf_token %}

                    {% include 'includes/components/form_input.html' with for=form.full_name.id_for_label label="Nome Completo" form=form.full_name errors=form.full_name.errors %}

                    {% include 'includes/components/form_input.html' with for=form.email.id_for_label label="Email" form=form.email errors=form.email.errors %}

                    <!-- identificação de empresa-->
                    <input type="hidden" name="is_company" id="id_is_company" value="false"/>

                    <div id="cnpj_field" style="display:none;">
                        {% include 'includes/components/form_input.html' with for=form.cnpj.id_for_label label="CNPJ" form=form.cnpj errors=form.cnpj.errors %}
                    </div>

                    {% include 'includes/components/form_input.html' with for=form.password1.id_for_label label="Senha" form=form.password1 errors=form.password1.errors %}

                    {% include 'includes/components/form_input.html' with for=form.password2.id_for_label label="Confirmar senha" form=form.password2 errors=form.password2.errors %}

                    <button type="submit"
                            class="w-full px-4 py-3 bg-emerald-600 text-white font-semibold rounded-full hover:bg-emerald-700 transition">
                        Criar Conta
                    </button>

                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/toggle_btns_style.js' %}"></script>
    <script src="{% static 'js/toggle_cnpj.js' %}"></script>
    <script src="{% static 'js/input_masks.js' %}"></script>
{% endblock %}
