{% extends "base.html" %}
{% load static %}
{% block content %}

    <div>
        <div class="flex flex-row ">
            <div class="flex flex-col items-center p-4 w-1/2">
                <div>

                    {% if donation %}
                        <h1 class="text-4xl m-0">Editar doação</h1>
                        <h2 class="text-xl m-0">
                            Altere e salve informações da doação
                        </h2>
                    {% else %}
                        <h1 class="text-4xl m-0">O que você vai doar?</h1>
                        <h2 class="text-xl m-0">
                            Inicie uma doação e aguarde alguém demonstrar interesse na sua ajuda
                        </h2>

                    {% endif %}
                </div>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data" action="
                {% if donation %}{% url 'donations:edit_donation' donation.id %}{% else %}{% url 'donations:create_donation' %}{% endif %}"
              class="flex ">
            {% csrf_token %}
            <!-- coluna esquerda -->
            <div class="flex w-1/2 justify-center">
                <div class="w-4/6 ">

                    <!-- titulo -->
                    <div class="mb-4">
                        <label for="{{ donation_form.title.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Título
                        </label>
                        {{ donation_form.title }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ donation_form.title.errors }}
                        </div>
                    </div>

                    <!-- descrição -->
                    <div class="mb-4">
                        <label for="{{ donation_form.description.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Descrição
                        </label>
                        {{ donation_form.description }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ donation_form.description.errors }}
                        </div>
                    </div>

                    <!-- categoria -->
                    <div class="mb-4">
                        <label for="{{ donation_form.category.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Categoria
                        </label>
                        {{ donation_form.category }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ donation_form.category.errors }}
                        </div>
                    </div>

                    <!-- estado -->
                    <div class="mb-4">
                        <label for="{{ location_form.estate.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Estado
                        </label>
                        {{ location_form.estate }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ location_form.estate.errors }}
                        </div>
                    </div>

                    <!-- cidade -->
                    <div class="mb-4">
                        <label for="{{ location_form.city.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Cidade
                        </label>
                        {{ location_form.city }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ location_form.city.errors }}
                        </div>
                    </div>


                </div>
            </div>

            <!-- coluna direita -->
            <div class="flex w-1/2 justify-center">
                <div class="w-4/6">
                    <div class="mb-4">
                        <label for="{{ image_form.image.id_for_label }}" class="block mb-1 text-gray-700 font-semibold">
                            Imagem
                        </label>
                        {{ image_form.image }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ image_form.image.errors }}
                        </div>
                    </div>

                    <!-- container do preview -->

                    <div class="max-w-xs mx-auto mb-4">
                        <h2 id="title_pvw" class="text-gray-700 font-medium mb-3 text-center">
                            Pré-visualização
                        </h2>
                        <div class="relative bg-gray-100 rounded-lg overflow-hidden shadow-sm h-60">
                            <img
                                    id="image_preview"
                                    class="absolute top-1/2 left-1/2 w-full h-full object-contain -translate-x-1/2 -translate-y-1/2"
                                    alt=" "
                            />
                        </div>
                        <p id="image_crop_tips" class="text-sm text-blue-500 mt-2 text-center cursor-help"
                           title="Use o mouse para dar zoom e a caixa de recorte para pegar a região de interesse">
                            ℹ️ Dicas
                        </p>
                    </div>

                    <input type="hidden" name="x" id="crop_x">
                    <input type="hidden" name="y" id="crop_y">
                    <input type="hidden" name="width" id="crop_width">
                    <input type="hidden" name="height" id="crop_height">


                    <button type="submit"
                            class=" mt-10 w-full px-4 py-3 bg-emerald-600 text-white font-semibold rounded-full hover:bg-emerald-700 transition">
                        {% if donation %}Salvar Alterações{% else %}Concluir{% endif %}
                    </button>
                </div>
            </div>

        </form>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/cropper_image.js' %}"></script>
    <script src="{% static 'js/location_dropdown.js' %}"></script>
{% endblock %}