{% extends "base.html" %}
{% load static %}
{% block content %}

    <div>
        <div class="flex flex-row ">
            <div class="flex flex-col items-center p-4 w-1/2">
                <div>
                    <h1 class="text-4xl m-0">O que você vai doar?</h1>
                    <h2 class="text-xl m-0">
                        Inicie uma doação e aguarde alguém demonstrar interesse na sua ajuda
                    </h2>
                </div>
            </div>
        </div>

        <form method="post" enctype="multipart/form-data" action="{% url 'users:register_user' %}"
              class="flex ">
            {% csrf_token %}
            <!-- coluna esquerda -->
            <div class="flex w-1/2 justify-center">
                <div class="w-4/6 ">

                    <!-- titulo -->
                    <div class="mb-4">
                        <label for="{{ donation_form.title.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Título
                        </label>
                        {{ donation_form.title }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ donation_form.title.errors }}
                        </div>
                    </div>

                    <!-- descrição -->
                    <div class="mb-4">
                        <label for="{{ donation_form.description.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Descrição
                        </label>
                        {{ donation_form.description }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ donation_form.description.errors }}
                        </div>
                    </div>

                    <!-- estado -->
                    <div class="mb-4">
                        <label for="{{ location_form.estate.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Estado
                        </label>
                        {{ location_form.estate }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ location_form.estate.errors }}
                        </div>
                    </div>

                    <!-- cidade -->
                    <div class="mb-4">
                        <label for="{{ location_form.city.id_for_label }}"
                               class="block mb-1 text-gray-700 font-semibold">
                            Cidade
                        </label>
                        {{ location_form.city }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ location_form.city.errors }}
                        </div>
                    </div>


                </div>
            </div>

            <!-- coluna direita -->
            <div class="flex w-1/2 justify-center">
                <div>
                    <div class="mb-4">
                        <label for="{{ image_form.image.id_for_label }}" class="block mb-1 text-gray-700 font-semibold">
                            Imagem
                        </label>
                        {{ image_form.image }}
                        <div class="text-red-600 font-semibold mt-1">
                            {{ image_form.image.errors }}
                        </div>
                    </div>

                    <!-- container do preview -->
                    <div class="max-w-xs max-h-[450px] overflow-hidden rounded-md">
                        <h1 id="title_pvw" class="hidden">Pre-visualização</h1>
                        <img id="image_preview" class="max-w-full"/>
                        <span id="image_crop_tips" class="hidden block mt-2 ml-2 text-blue-500 cursor-help"
                              title="Use o zoom para ajustar o recorte como quiser.">
    ℹ️
                        </span>
                    </div>


                    <button type="submit"
                            class=" mt-10 w-full px-4 py-3 bg-emerald-600 text-white font-semibold rounded-full hover:bg-emerald-700 transition">
                        Concluir
                    </button>
                </div>
            </div>

        </form>

    </div>



    <script src="{% static 'js/cropper_image.js' %}"></script>




{% endblock %}