@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link {
  @apply block px-4 py-2 text-white hover:bg-emerald-700 rounded;
}


.toggle-button {
  background-color: white;
  color: #1f2937; /* text-gray-800 */
  transition: background-color 0.2s ease;
}

.toggle-button:hover {
  background-color: #f3f4f6; /* hover cinza claro */
}

.toggle-button.selected {
  background-color: #a7f3d0; /* bg-emerald-200 */
  color: #065f46; /* text-emerald-800 */
}

.toggle-button.selected:hover {
  background-color: #a7f3d0; /* mantém o verde claro ao passar o mouse */
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}



