<header>
  <nav class="bg-emerald-600 p-0">
    <ul class="flex space-x-0">
      <li><a href="{#% url 'home' %#}" class="block px-4 py-2 text-white hover:bg-emerald-700 rounded text-lg font-bold">Home</a></li>
      <li><a href="{#% url 'cadastro' %#}" class="block px-4 py-2 text-white hover:bg-emerald-700 rounded text-lg font-bold">Cadastro</a></li>
      <li><a href="{#% url 'login' %#}" class="block px-4 py-2 text-white hover:bg-emerald-700 rounded text-lg font-bold">Login</a></li>
    </ul>
  </nav>
</header>