{% load static %}
<header>
  <nav class="bg-emerald-600 p-0">
    <ul class="flex space-x-0">
      <li><a href="{% url 'core:landing' %}" class="block px-4 py-2 text-white hover:bg-emerald-700 rounded text-lg font-bold">
          <img src="{% static 'images/solli_logo_white.svg' %}" alt="logo" class="w-auto h-7" />
      </a></li>
      <li><a href="{#% url 'cadastro' %#}" class="block px-4 py-2 text-white hover:bg-emerald-700 rounded text-lg font-bold">Doações</a></li>
      <li><a href="{#% url 'login' %#}" class="block px-4 py-2 text-white hover:bg-emerald-700 rounded text-lg font-bold">Pedidos</a></li>
      <li><a href="{#% url 'login' %#}" class="block px-4 py-2 text-white hover:bg-emerald-700 rounded text-lg font-bold">Campanhas</a></li>
        <li><a href="{#% url 'login' %#}" class="block px-4 py-2 text-white hover:bg-emerald-700 rounded text-lg font-bold">Ajude-nos</a></li>
    </ul>
  </nav>
</header>